@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 2260px) {
  html{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 130%;
    width: 100%;
  
    /* Center and scale the image nicely */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width:1620px) {
  html{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 115%;
    width: 100%;
  
    /* Center and scale the image nicely */

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 640px) {
  html{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 220%;
    width: 100%;
  
    /* Center and scale the image nicely */

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination li {
  margin: 0 0.5rem;
}

.pagination li a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination li a:hover {
  background-color: #f7f7f7;
}

.pagination li.active a {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.pagination li.disabled a {
  color: #999;
  background-color: #fff;
  border: 1px solid #ddd;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
